@import '~/styles/common/layout';

$border-color: #dedede;
$header-background: #f7f7f7;
$border-radius: 4px;
$border-width: 2px;
$padding-left: 10px;
$method-color: #a778ff;

.httpEndpoint {
  @include column;

  border-radius: $border-radius;
  border: $border-width solid $border-color;

  font-size: 20px;

  & + & {
    margin-top: 10px;
  }

  .header {
    padding: 5px $padding-left;

    border-bottom: $border-width solid $border-color;
    background: $header-background;

    font-weight: 600;
    font-family: Inter, 'Roboto Mono', monospace;
  }

  .connectors {
    @include column;
    padding: 5px $padding-left;

    .connector {
      @include row(flex-start, center);

      .method {
        color: $method-color;

        text-transform: uppercase;
        font-weight: 600;
      }
    }

    .connector:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
